doctype html
head(itemscope="" itemtype="http://schema.org/WebSite")
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="keywords" content="workshirts, mental health workshirts, work shirts, tradie shirts, work uniform, hi vis workwear, workwear, colourful work shirts")
  meta(name="description" content="Trademutt is the brand everyone is talking about with their bright and vibrant tradie workshirts with a purpose. Trademutt create mental health workshirts for tradies that start conversations about mental health within the blue collar work industry.")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(property="og:title" content="TradeMutt")
  meta(property="og:site_name" content="TradeMutt")
  meta(property="og:type" content="website")
  meta(property="og:url" content="https://trademutt.neto.com.au/")
  meta(property="og:description" content="Trademutt is the brand everyone is talking about with their bright and vibrant tradie workshirts with a purpose. Trademutt create mental health workshirts for tradies that start conversations about mental health within the blue collar work industry.")
  title(itemprop="name") TradeMutt
  link(rel="canonical" href="https://trademutt.neto.com.au/" itemprop="url")
  link(rel="shortcut icon" href="https://trademutt.neto.com.au/assets/favicon_logo.png?1598507010")
  link(rel="stylesheet" type="text/css" href="https://cdn.neto.com.au/assets/neto-cdn/jquery_ui/1.11.1/css/custom-theme/jquery-ui-1.8.18.custom.css" media="all")
  link(rel="stylesheet" type="text/css" href="https://trademutt.neto.com.au/assets/themes/twenty3/css/app.css?1598507010" media="all")
  link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800" rel="stylesheet")
  link(rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css")
  link(rel="stylesheet" href="./styles.css")
  section.container
    .h-intro-video
      iframe(class="h-intro-video__mp4" src="./assets/sample-video.mp4" style="border:0" frameborder="0")
  section.container
    .h-statistics
      .statistics__item
        span(class="h-statistics__item__number") 5
        span %
        p of profits donated to TIACS
      .statistics__item
        span $
        span(class="h-statistics__item__number") 75000
        p donated to TIACS so far
      .statistics__item
        span(class="h-statistics__item__number") 570000
        p conversations started
      .statistics__item
        span(class="h-statistics__item__number") 36000
        p legends starting conversations
body
  .container
    #tabs.h-social-impact
      h3.h-social-impact__title OUR SOCIAL IMPACT
      .h-social-impact__tabs
        div(role='tablist' class="h-social-impact__tab-navigation")
          button#tiacs.h-social-impact__tab-navigation-item(aria-selected='true') TIACS
          button#borallon-prison.h-social-impact__tab-navigation-item(aria-selected='false') BORALLON PRISON
          button#sendable.h-social-impact__tab-navigation-item(aria-selected='false') SENDABLE
          button#she-rescue-home.h-social-impact__tab-navigation-item(aria-selected='false') SHE RESCUE HOME

        .h-social-impact__tab-navigation-content(aria-labelledby='tiacs')
          .thumbnail
            img(src="./assets/thumbnail.png" alt="thumbnail")
          .content
            h6 BORALLON PRISON
            p
              | A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. We use traffic log cookies to identify which pages are being used. This helps us analyse data about webpage traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system. Overall, cookies help us provide you with a better website by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
            button
              | Read more

        .h-social-impact__tab-navigation-content(aria-labelledby='borallon-prison' hidden='') Tab: BORALLON PRISON
        .h-social-impact__tab-navigation-content(aria-labelledby='sendable' hidden='') Tab: SENDABLE
        .h-social-impact__tab-navigation-content(aria-labelledby='she-rescue-home' hidden='') Tab: SHE RESCUE HOME
  section.container
    .h-about-us
      img(class="h-about-us__img" src="./assets/bg-about-us.png", alt="bg-about-us")
      div(class="h-about-us__content" style="background: #3392C3")
        p A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.
        p We use traffic log cookies to identify which pages are being used. This helps us analyse data about webpage traffic and improve our website in order to tailor it to customer needs. 

  script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(src="./main.js")